* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
    background-color: #ae4848;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-top: 15dvh;
    color: white;
}

#tempo{
    display: flex;
    font-size: 120px;
    font-weight: bold;
    font-variant-numeric: tabular-nums;
}

.animar {
    animation: fadeMove 0.3s ease;
}

@keyframes fadeMove {
    0% {
        opacity: 0.8;
        transform: scale(0.95);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.btns {
    display: flex;
    font-size: 800px;
    font-weight: bolder;
    transition: all 0.2s ease-in-out;
}

.btnStart {
    background-color: rgb(72, 202, 72);
    color: white;

    cursor: pointer;
    padding: 5px 10px;
    border-radius: 30px;
    border: 1px solid white;
    margin-right: 10px;
}
.btnStart:hover{
    transform: scale(1.1);
}

.btnStop {
    cursor: pointer;
    background-color: transparent;
    color: white;
    padding: 5px 10px;
    border-radius: 30px;
    border: 1px solid #fff
}
.btnStop:hover{
    transform: scale(1.1);
}

.btnReset {
    cursor: pointer;
    background-color: white;
    color: black;
    padding: 5px 10px;
    margin-left: 10px;
    border-radius: 30px;
    border: 1px solid #fff
}
.btnReset:hover{
    transform: scale(1.1);
}
